# Ginko API Key
# https://api.ginko.voyage/#CleTemporaire
GINKO_API_KEY=lorem_ipsum_dolor_sit_amet_1

# JCDecaux API Key
# https://developer.jcdecaux.com/#/opendata/vls?page=getstarted
JCDECAUX_API_KEY=lorem_ipsum_dolor_sit_amet_2

# Liste de clés API pour autoriser des applications externes à accéder aux routes /api/*
# Laisser vide si aucune application externe n'a besoin d'accès, ou séparer les clés par des virgules s'il y a plusieurs applications
INTERNAL_API_KEYS=MY_APP_0001,MY_APP_0002,MY_APP_0003